*.gba
*.elf
*.exe
*.obj
/build
*.sdf
*.suo
*.vcxproj
*.vcxproj.filters
*.user
*.sln
*.ilk
*.pdb
*.map
Debug/
ipch/
.vscode/
source_2_win/test.cpp
source_2_win/mtest.bat
*.PBP
*.o
.gitignore
180503_eight_input.code-workspace
source_3_psp/m.bat
source_3_psp/PARAM.SFO
